@font-face {
    font-family: Montserrat;
    src: url(./assets/fonts/Montserrat-Bold.ttf);
  }


/* mobile screen size */
@media screen and (max-width: 600px) {
    /* General Configs */
    body {
        background: rgb(245,247,250);
        background: linear-gradient(135deg, rgba(245,247,250,1) 0%, rgba(195,207,226,1) 100%);
        font-family: 'Lato', sans-serif;
        font-size: 14px;
    }

    *{
        font-size: 1.2rem;
    }

    h1, h2, h3 {
        font-family: 'Montserrat', sans-serif;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.2rem;
    }

    p {
        max-width: 70ch;
        line-height: 1.5;
    }

    /* header element */
    header{
        height: 55vh;
        background-image: url(./assets/img/studentsbg.png);
        background-attachment: fixed; /*Background image will not scroll with page*/
        background-position: top center; /*Background image placed at top, and centered horizontally*/
        background-size: cover;
    }

    /* div inside of header */
    header div{
        background-color: #c5192d;
        position: relative;
        top: 4rem; /*pushed down 4rem*/
    }

    main {
        box-shadow: 0 0 1px darkgray;
        background-color: whitesmoke;
    }

    #intro-container{
        padding: 24px 12px;
        margin-top: 2%;
        background-color: #c5192d;
    }

    li{
        list-style: none;
    }

    li:nth-child(1)::before {
        content: "\1F64C";
    }

    li:nth-child(2)::before {
        content: "\1F3EB";
    }

    li:nth-child(3)::before {
        content: "\1F4DA";
    }
}


/* tablet screen size */
@media screen and (min-width: 600px) and (max-width: 960px){
 body{
     background-color: orange;
     color: seagreen;
 }
}


/* desktop screen size */
@media screen and (min-width:960px) {
body{
     background-color: blue;
 }
}

